html 
	head
		title CreateUser
	body 	
		h1 Create your profile

		form (method='Post' action ='/createUser')

		 input (type= 'text', name ='username')
		 br
		 input (type= 'text', name= 'firstname')
		 br
		 input (type= 'text', name= ' lastname')
		 br
		 input (type= 'text', name= ' email') 
		 br
		 input (type= 'text', name = ' password')